* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --body-bg: rgb(222, 227, 237);
    --text-color: rgb(47,47,68);
}

body.dark-mode{
    --body-bg: rgb(47,47,68);
    --text-color: (215,215,225);
}

body {
    background-color: var(--body-bg);
    color: var(--text-color)
}

.container {
    background: gray;
    height: 100vh;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    appearance: none;
    position: relative;
    height: 100px;
    width: 175px;
    background-color: white;
    border-radius: 5rem;
    box-shadow: 0 0 15px black;
    transition: background-color .2s;
}

input[type="checkbox"]::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(47,47,68);
    transition: left .2s;
}


input[type="checkbox"]:checked{
    background-color: rgb(98,249,173);

}

input[type="checkbox"]:checked::after{
    left: 70%;
}
